.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.book embed {
    max-width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
}
